html,body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #EBE8E0;
  background-color: #0f1922;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;  
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

.g-title {
  font-family: 'Anton', cursive !important;  
  text-transform: uppercase;
  letter-spacing: 3px;  
  margin: 10px 0 0px;
  font-size: 30px;
  color: antiquewhite;
}
.g-label {
  font-family: 'Poppins', sans-serif;  
  font-size: 14px;
  margin: 7px 0px 0px;
  color: antiquewhite;
}

.g-red-title { 
  font-family: 'Anton', cursive !important;    
  font-family: 'Poppins', sans-serif;    
  text-transform: uppercase;
  letter-spacing: 3px;    
  font-size: 49px;
  color: var(--g-red);
}

.label {
  font-family: 'Anton', cursive !important;
  letter-spacing: 3px;
  margin: 10px 0 10px;
  margin: 0px;
  text-transform: uppercase;  
}

* {  
  box-sizing: border-box;
  -ms-overflow-style: none; 
  scrollbar-width: none;   
  border-radius: 0px !important;
}


*::-webkit-scrollbar {
  display: none;  
}

.content {
  height: calc(100vh - 57px);
}

.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 5;  
  background-color: #0f1922;
}

.footer {
  display: flex;
  position: fixed;  
  bottom: 0;
  padding: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;  
}

/*vars*/
* {
  --g-red: #FF4654;
  --g-white: antiquewhite;
  --g-darkblue: #0f1923;
  --g-gray: #666666;
}