html,body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #EBE8E0;
  background-color: #0f1922;
}

a {
  color: inherit;
  text-decoration: none;
}

.g-title {
  font-family: 'Anton', cursive !important;  
  text-transform: uppercase;
  letter-spacing: 3px;  
  margin: 10px 0 0px;
  font-size: 30px;
  color: #EBE8E0;
}
.g-label {
  font-size: 14px;
  margin: 7px 0px 0px;
  color: #EBE8E0;
}

.label {
  font-family: 'Anton', cursive !important;
  letter-spacing: 3px;
  margin: 10px 0 10px;
  margin: 0px;
  text-transform: uppercase;
}

* {  
  box-sizing: border-box;
  -ms-overflow-style: none; 
  scrollbar-width: none;   
  border-radius: 0px !important;
}


*::-webkit-scrollbar {
  display: none;  
}

.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 5;  
  background-color: #0f1922;
}

.footer {
  display: flex;
  position: fixed;  
  bottom: 0;
  padding: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;        
  background: linear-gradient(0deg, rgba(235,232,224,1) 0%, rgba(235,232,224,0.8329466357308585) 35%, rgba(235,232,224,0.43) 100%);
}